<% for (const x in exchanges) { %> 
    <% let ex = exchanges[x] %>

<div class="bp3-card bp3-elevation-3 bp3 <%=ex%> .modifier">
       
       <div class="main_<%=ex%>">
        
           <h5>MASTER ACCOUNT</h5>
       
           <label for="main_<%=ex%>_apikey">
               Api Key
           </label>
           <input type="text" id="main_<%=ex%>_apikey" class="main_<%=ex%>_apikey"
                  name="settings[<%=ex%>][main][api_key]" value="<%= settings[ex].main.api_key %>">
                  
           <label for="main_ex_apisecret">
               Api Secret
           </label>
           <input type="text" id="main_<%=ex%>_apisecret" class="main_<%=ex%>_apisecret"
                  name="settings[<%=ex%>][main][api_secret]" value="<%= settings[ex].main.api_secret %>">
       </div>
       
       <div class="client_<%=ex%>">
       
           <h5>CLIENT ACCOUNTS</h5>
       
        <div class="adder_client_<%=ex%>">
            <% for (let i in settings[ex].clients) { %>
              <%  if(settings[ex].clients[i].api_key != "" && settings[ex].clients[i].api_key != undefined) { %>
                <% let w = i.replace(/\D/g, "") %>
            <div class="client <%=ex%>_<%=i%>_div">
                <input class="client_name" name="settings[<%=ex%>][clients][<%=i%>][name]" value="Client <%=w%>" />
                <label for="client_<%=ex%>_apikey[<%=i%>]">
                        Api Key
                </label>
                    <input type="text" id="client_<%=ex%>_apikey[<%=i%>]" class="client_<%=ex%>_apikey[<%=i%>]"
                           name="settings[<%=ex%>][clients][<%=i%>][api_key]" value="<%= settings[ex].clients[i].api_key %>" />
            
                <label for="client_<%=ex%>_apisecret[<%=i%>]">
                        Api Secret
                </label>
                    <input type="text" id="client_<%=ex%>_apisecret[<%=i%>]" class="client_<%=ex%>_apisecret[<%=i%>]"
                           name="settings[<%=ex%>][clients][<%=i%>][api_secret]" value="<%= settings[ex].clients[i].api_secret %>" />
                    
                    <button class="delete_client delete_<%=ex%>[<%=i%>]" type="button" onclick="return CTX_CLIENT.delete_me(this.className)">Delete me</button>
            </div>
            
              <% } %>
            <% } %>
        </div>
       
           <button class="new_client_btn <%=ex%>_new" onclick="return CTX_CLIENT.add_html('<%=ex%>')">Add new client</button>
       
       </div>

       <button class="update_form" role="button">Save</button>



       <nav class="bp3-navbar bp3">
        <div>
            <div class="bp3-navbar-group bp3-align-left">
                <a href="/"> <img class="header-logo <%=ex%>_logo" src="/src/images/logo.png" /> </a>

                <div class="bp3-navbar-heading bold-text">
                    Mirror Bot
                </div>

                <label class="bp3-switch bp3-align-right .modifier">

                    <button id="turn_on_<%=ex%>" class="bp3-button bp3-intent-success turning_button" role="button">
                        Start
                    </button>

                    <button id="turn_off_<%=ex%>" class="bp3-button bp3-intent-danger turning_button" role="button">
                        Stop
                    </button>
                </label>

            </div>
            <div class="bp3-navbar-group bp3-align-right">
                
                <a href="/" class="bot_status" onclick="return false"></a>

            </div>
        </div>
    </nav>
      
</div>

<% } %>